.footer-credit{
    font-size:6pt;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    
}

.footer{
    height:100%;
}

.footer-text{
    margin-top: 0px;

}

html, body{
    height:100%;
    background-color: #FFDEDC;

}