.login-input{
    width: 250px;
}

.app-desc{
    padding:20px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #BCBAD6;
    border-radius: 10px;
    margin-bottom: 50px;;
}

.login-field{
    border: 2px solid #FFDEDC;
}

.login-page{
    background-color: #FFDEDC;
}

.register-link{
    color: black;

}

.register-link:hover{
    background-color: #BCBAD6;
    color: white;
    padding:5px;
    border-radius: 5px;
}

.register{
    padding: 10px;
}
.log-header{
    font-family: 'Baloo Bhai', cursive;
}

@media only screen and (min-width: 600px){
    .login-input{
        width: 300px;
    }


.login-field, .app-desc{
    width:500px;
}
}